<link rel="stylesheet" href="/css/userhome.css">
<div class="topnav">
  <a class="active" href="#home">Home page</a>
 
  <a class="logout-btn" href="/user/logout"> <button class="btn">logout</button></a>
  
</div>
<div class="card">
  <img src="https://st.depositphotos.com/1032577/4812/i/450/depositphotos_48129893-stock-photo-frame-with-daisies-and-lettering.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Explore new ideas</h1>

  <p>We're thrilled to have you here. Whether you're exploring, learning, or creating, you've come to the right place. Dive in and discover </p>
  <p><button>let's Go</button></p>
</div>
